<!-- header start -->
<nav class="clearfix">
    <ul class="clearfix">
        <li><a href="/">Inicio</a></li>
        <li><a href="/categories.html">Categorías</a></li>
        <li><a href="/tags.html">Etiquetas</a></li>
        <li><a href="/archive.html">Archivo</a></li>
        <li><a href="/about">Acerca de</a></li>
        <li><a href="/sitemap.txt">Sitemap</a></li>
    </ul>
    <a href="#" id="pull">Menu <span class="hamburguer-icon" style="background-image:url('/assets/images/menu-hamburger-white.png')"></span></a>
</nav>

<!-- header end -->
