<!-- header start -->
<nav class="clearfix">
    <ul class="clearfix">
        <li><a href="/">Home</a></li>
        <li><a href="/categories.html">Categories</a></li>
        <li><a href="/tags.html">Tags</a></li>
        <li><a href="/archive.html">Archive</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/sitemap.txt">Sitemap</a></li>
    </ul>
    <a href="#" id="pull">Menu <span class="hamburguer-icon" style="background-image:url('/assets/images/menu-hamburger-white.png')"></span></a>
</nav>

<!-- header end -->
