---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% if page.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
            Article Image
          </div>
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              {% if page.author.name != null %}
                <div class="author-image" style="background-image: url({{ page.author.image }})">Blog Logo</div>
                <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author.name }}</h4>
              {% else %}
                {% if page.author.name != null %}
                  <div class="author-image" style="background-image: url({{ page.author.image }})">Blog Logo</div>
                  <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author.name }}</h4>
                {% else %}
                <div class="author-image" style="background-image: url({{ site.author.image }})">Blog Logo</div>
                <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author.name }}</h4>
                {% endif %}
              {% endif %}
              on
              <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time>
              <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
            </div>
            <div style="text-align:center">
              <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        {% else %}
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url({{ site.author.image }})">Blog Logo</div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</h4>
              on
              <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
              <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        {% endif %}
        <section class="post-content">
          <div class="post-reading">
            <span class="post-reading-time"></span> read
          </div>
          <a name="topofpage"></a>
          {{content}}
        </section>
        <footer class="post-footer">
          <div class="tags-categories">
            <div class="categories isLeft">
              <ul class="list-category list-linear">
                <li class="list-head">Category: </li>
                  {% assign categories_list = page.categories %}
                  {% include JB/categories_list %}
              </ul>
            </div>
            <div class="tags isRight">
              <ul class="list-tag list-linear">
                <li class="list-head">Tags: </li>
                  {% assign tags_list = page.tags %}
                  {% include JB/tags_list %}
              </ul>
            </div>
          </div>
          <div class="misc-content">
              <div class="social">
                  <ul class="list-linear">
                      <li><div class="twitter-tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{ site.author.twitter }}" data-lang="en">Tweet</a></div></li>
                      <li><div class="twitter-follow"><a href="https://twitter.com/{{ site.author.twitter }}" class="twitter-follow-button" data-show-count="false" data-lang="en"></a></div></li>
                      <li><div class="fb-like" data-href="{{ page.url | prepend: site.baseurl | prepend: site.url }}" data-width="225" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"</div></li>
                      <li><div class="g-plusone" data-size="medium"></div></li>
                  </ul>
              </div>
          </div><!-- misc-content -->
        </footer>
        <div class="bottom-teaser cf">
          <div class="isLeft">
            <h5 class="index-headline featured"><span>Written by</span></h5>
            <section class="author">
              {% if page.author.name != null %}
                <div class="author-image" style="background-image: url({{page.author.image}})">Blog Logo</div>
                <h4>{{ page.author.name }}</h4>
                <p class="bio">{{page.author.bio}}</p>
              {% else %}
                <div class="author-image" style="background-image: url({{site.author.image}})">Blog Logo</div>
                <h4>{{ site.author.name }}</h4>
                <p class="bio">{{site.author.bio}}</p>
              {% endif %}
              <hr>
              <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
            </section>
          </div>
          {{/post}}
          <div class="isRight">
            <h5 class="index-headline featured"><span>Supported by</span></h5>
            <footer class="site-footer">
              <section class="poweredby">Proudly published with <a href="http://jekyllrb.com"> Jekyll</a></section>
              <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> You should subscribe to my feed.</span></a>
              <div class="inner">
                <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{site.author.name}}</a> &copy; 2014<br>All rights reserved.</section>
              </div>
            </footer>
          </div>
        </div>
        <div class="comment">
            {% include JB/comments %}
        </div>
      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href="/" class="btn">Back to Overview</a>
      </div>
    </div>
    {% include javascripts.html %}
  </body>
</html>
